In [1]:
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Adding a new column

## 1.1 adding new column with a scalar value

In [17]:
# adding new column to dataframe
df_salary['monthly Salary']= 7000

df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,monthly Salary
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,7000
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,7000
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,7000
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,7000
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,7000
...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,7000
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,7000
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,7000
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,7000
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,7000

## 1.2 Adding a new column with an array

In [18]:
import numpy as np

In [23]:
# create an array of 1000 elements
monthly_salary=np.arange(0,14017)

In [24]:
len(np.arange(0,14017))

14017

In [26]:
#adding a new column to dataframe with an array
df_salary['monthly salary']= monthly_salary
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,monthly Salary,monthly salary
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,7000,0
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,7000,1
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,7000,2
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,7000,3
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,7000,4
...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,7000,14012
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,7000,14013
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,7000,14014
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,7000,14015
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,7000,14016

In [27]:
#creating  random integer numbers between 1 and 100
body_count= np.random.randint(1,100,size=14017)

In [28]:
# min and max 
min(body_count)

np.int32(1)

In [29]:
max(body_count)

np.int32(99)

In [30]:
# adding a new column to dataframe with an array 
df_salary['Body Count']= body_count
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,monthly Salary,monthly salary,Body Count
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,7000,0,83
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,7000,1,73
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,7000,2,41
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,7000,3,60
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,7000,4,95
...,...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,7000,14012,77
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,7000,14013,37
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,7000,14014,83
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,7000,14015,70
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,7000,14016,94