In [1]:
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Selecting two or more columns

In [6]:
# selecting 2 columns using [[]]
df_salary[['Agency','AnnualSalary']]

                              Agency AnnualSalary
0           OED-Employment Dev (031)    $55314.00
1      States Attorneys Office (045)    $74000.00
2       HLTH-Health Department (026)    $64500.00
3            Police Department (005)    $46309.00
4          M-R Info Technology (001)    $60060.00
...                              ...          ...
14012  DPW-Water & Waste Water (509)    $53215.00
14013         COMP-Real Estate (001)    $59482.00
14014        Police Department (224)    $47012.00
14015        Police Department (006)    $46309.00
14016  DPW-Water & Waste Water (206)    $54640.00

[14017 rows x 2 columns]