In [1]:
import pandas as pd

In [1]:
# reading the csv file 
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Adding a new column

## 1.1 Assign()
### used to add multiple columns

In [3]:
import numpy as np

In [12]:
# create random numbers for our new score columns
tenth_score   = np.random.randint(35, 100, size=14017)
twelfth_score = np.random.randint(35, 100, size=14017)

# create a series using the random numbers
series1 = pd.Series(tenth_score,   index=np.arange(0, 14017))
series2 = pd.Series(twelfth_score, index=np.arange(0, 14017))

In [13]:
series1 = pd.Series(tenth_score)
series2 = pd.Series(twelfth_score)

In [14]:
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60
...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79

In [16]:
series1

0        42
1        75
2        50
3        47
4        78
         ..
14012    79
14013    99
14014    76
14015    97
14016    46
Length: 14017, dtype: int32

In [17]:
series2

0        94
1        63
2        62
3        35
4        83
         ..
14012    79
14013    40
14014    60
14015    88
14016    46
Length: 14017, dtype: int32

In [23]:
# using assign() to add multiple columns
df_salary = df_salary.assign(Tenth_score=series1, twelfth_score=series2)

In [24]:
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Tenth_score,twelfth_score
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,42,94
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,75,63
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,50,62
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,47,35
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,78,83
...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,79,79
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,99,40
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,76,60
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,97,88
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,46,46

## 1.2 Insert()

### insert a new column at a spectific position or index

In [25]:
# using index() to add a column at a specific position
df_salary.insert(1,'AGE' , series1)

In [26]:
# show dataframe
df_salary

,name,AGE,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Tenth_score,twelfth_score
0,"Aaron,Patricia G",42,Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,42,94
1,"Aaron,Petra L",75,ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,75,63
2,"Abaineh,Yohannes T",50,EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,50,62
3,"Abbene,Anthony M",47,POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,47,35
4,"Abbey,Emmanuel",78,CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,78,83
...,...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",79,MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,79,79
14013,"Zoppo,Catherine B",99,REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,99,40
14014,"Zorbach,Michael K",76,POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,76,60
14015,"Zovistoski,Zachary D",97,POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,97,88
14016,"Zukowski,Charles J",46,Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,46,46