In [1]:
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Value Counts

In [11]:
import numpy as np
# create random numbers for our new score columns
tenth_score   = np.random.randint(35, 100, size=14017)
twelfth_score = np.random.randint(35, 100, size=14017)

# create a series using the random numbers
series1 = pd.Series(tenth_score,   index=np.arange(0, 14017))
series2 = pd.Series(twelfth_score, index=np.arange(0, 14017))
series1 = pd.Series(tenth_score)
series2 = pd.Series(twelfth_score)
# using assign() to add multiple columns
df_salary = df_salary.assign(Tenth_score=series1, twelfth_score=series2)

In [12]:
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Tenth_score,twelfth_score
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,58,46
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,97,35
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,60,76
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,93,56
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,62,91
...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,77,90
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,75,51
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,47,97
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,49,70
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,45,45

In [14]:
# counting gender elements
# len function 
len(df_salary['Tenth_score'])
# .count() method
df_salary['Tenth_score'].count()

np.int64(14017)

In [15]:
# counting gender elements by category
df_salary['Tenth_score'].value_counts()

Tenth_score
71    254
70    249
67    248
80    246
45    244
     ...
57    193
99    192
88    191
93    180
76    180
Name: count, Length: 65, dtype: int64

In [18]:
# return the relative freq ( divide all values by the sum of values )
df_salary['Tenth_score'].value_counts(normalize=True)

Tenth_score
71    0.018121
70    0.017764
67    0.017693
80    0.017550
45    0.017407
        ...
57    0.013769
99    0.013698
88    0.013626
93    0.012842
76    0.012842
Name: proportion, Length: 65, dtype: float64

In [21]:
#  counting " parental level of education" elements by category
df_salary['JobTitle'].value_counts()

JobTitle
POLICE OFFICER                 1843
LABORER (Hourly)                571
EMT Firefighter Suppression     338
RECREATION ARTS INSTRUCTOR      307
COMMUNITY AIDE                  306
                               ...
Operations Assistant III          1
Fire Operations Aide ALS          1
STATISTICAL TRAFFIC ANALYST       1
TAX TRANSFER CLERK II             1
WHITEPRINT MACHINE OPR            1
Name: count, Length: 1056, dtype: int64

In [22]:
# return the relative frequency and round to 2 decimals 
df_salary['JobTitle'].value_counts(normalize=True)

JobTitle
POLICE OFFICER                 0.131483
LABORER (Hourly)               0.040736
EMT Firefighter Suppression    0.024114
RECREATION ARTS INSTRUCTOR     0.021902
COMMUNITY AIDE                 0.021831
                                 ...
Operations Assistant III       0.000071
Fire Operations Aide ALS       0.000071
STATISTICAL TRAFFIC ANALYST    0.000071
TAX TRANSFER CLERK II          0.000071
WHITEPRINT MACHINE OPR         0.000071
Name: proportion, Length: 1056, dtype: float64