In [10]:
import pandas as pd
# reading the csv file
df_salary=pd.read_csv("Salary.csv")
df_salary.head()

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60

# 1 Sort a Dataframe

In [3]:
# sort by one column
df_salary.sort_values(by='AgencyID')

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
6506,"Johnese,Angela",Operations Manager II,A01001,Mayors Office (001),04/08/2013,$100700.00,$101767.03
965,"Bhattacharya,Sulakshana",Senior Criminal Justice Asso,A01001,Mayors Office (001),06/01/2012,$69475.00,$59693.44
11211,"Sennaar,Lisa M",Executive Assistant,A01001,Mayors Office (001),01/27/2014,$55000.00,$31927.90
7381,"Lanier,Beverly",STAFF ASST (ELECTED OFFICIAL),A01001,Mayors Office (001),07/21/2014,$45000.00,$41539.91
5280,"Hall,Theresa",STAFF ASST (ELECTED OFFICIAL),A01001,Mayors Office (001),01/18/2005,$41700.00,$42084.18
...,...,...,...,...,...,...,...
4567,"Geiger,Victoria",TEST MONITOR,P83004,HR-Test Monitor (004),05/26/2015,$20800.00,$285.00
5594,"Hayes,Antonio L","Dep Dir, Social Services Supp",SCS066,Special City Services (066),01/06/2003,$11866.00,$10040.36
8395,"McGrath Tierney,Molly A",DIR SOCIAL SERV (SUPPLEMENT),SCS066,Special City Services (066),12/10/2007,$30000.00,$13038.51
4295,"Frantz,Henry K",MISCELLANEOUS,SCS066,Special City Services (066),07/01/1991,$2484.00,$2484.30
12078,"Sullivan,John",Asst. Dir. Social Services (Su,SCS066,Special City Services (066),07/28/2012,$10000.00,$10000.12

In [4]:
# sort descending by one column
df_salary.sort_values('AgencyID',ascending=False)

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
8395,"McGrath Tierney,Molly A",DIR SOCIAL SERV (SUPPLEMENT),SCS066,Special City Services (066),12/10/2007,$30000.00,$13038.51
4295,"Frantz,Henry K",MISCELLANEOUS,SCS066,Special City Services (066),07/01/1991,$2484.00,$2484.30
5594,"Hayes,Antonio L","Dep Dir, Social Services Supp",SCS066,Special City Services (066),01/06/2003,$11866.00,$10040.36
12078,"Sullivan,John",Asst. Dir. Social Services (Su,SCS066,Special City Services (066),07/28/2012,$10000.00,$10000.12
12405,"Thompson,Candise",TEST MONITOR,P83004,HR-Test Monitor (004),05/26/2015,$20800.00,$325.00
...,...,...,...,...,...,...,...
2500,"Cohen,Ethan",Operations Officer II,A01001,Mayors Office (001),09/28/2014,$80000.00,$56615.08
7381,"Lanier,Beverly",STAFF ASST (ELECTED OFFICIAL),A01001,Mayors Office (001),07/21/2014,$45000.00,$41539.91
11533,"Smith,Alexandra",Operations Officer II,A01001,Mayors Office (001),07/21/2014,$65000.00,$60000.00
7628,"Libit,Howard",Operations Manager II,A01001,Mayors Office (001),01/04/2015,$132000.00,$60923.04
4493,"Garith,Neal P",SERVICE AIDE II,A01001,Mayors Office (001),04/09/2007,$36519.00,$36985.58

In [5]:
import numpy as np
# create random numbers for our new score columns
tenth_score   = np.random.randint(35, 100, size=14017)
twelfth_score = np.random.randint(35, 100, size=14017)

# create a series using the random numbers
series1 = pd.Series(tenth_score,   index=np.arange(0, 14017))
series2 = pd.Series(twelfth_score, index=np.arange(0, 14017))
series1 = pd.Series(tenth_score)
series2 = pd.Series(twelfth_score)
# using assign() to add multiple columns
df_salary = df_salary.assign(Tenth_score=series1, twelfth_score=series2)

In [6]:
df_salary

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Tenth_score,twelfth_score
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979,$55314.00,$53626.04,64,92
1,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29045,States Attorneys Office (045),09/25/2006,$74000.00,$73000.08,50,44
2,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department (026),07/23/2009,$64500.00,$64403.84,51,74
3,"Abbene,Anthony M",POLICE OFFICER,A99005,Police Department (005),07/24/2013,$46309.00,$59620.16,75,93
4,"Abbey,Emmanuel",CONTRACT SERV SPEC II,A40001,M-R Info Technology (001),05/01/2013,$60060.00,$54059.60,68,89
...,...,...,...,...,...,...,...,...,...
14012,"Zoppo Jr,Phillip A",MASON SUPERVISOR,A50509,DPW-Water & Waste Water (509),04/04/1988,$53215.00,$72620.54,63,89
14013,"Zoppo,Catherine B",REAL ESTATE AGENT I,A15001,COMP-Real Estate (001),03/14/1977,$59482.00,$60412.10,62,55
14014,"Zorbach,Michael K",POLICE OFFICER,A99224,Police Department (224),05/02/2012,$47012.00,$55458.09,76,88
14015,"Zovistoski,Zachary D",POLICE OFFICER,A99006,Police Department (006),12/17/2013,$46309.00,$52243.90,77,89
14016,"Zukowski,Charles J",Waste Water Tech Supv I Pump,A50206,DPW-Water & Waste Water (206),10/15/1979,$54640.00,$55997.79,84,83

In [7]:
df_salary.sort_values(['Tenth_score','twelfth_score'],ascending=False)

,name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay,Tenth_score,twelfth_score
1273,"Boyd,Michael J",POLICE OFFICER,A99389,Police Department (389),01/02/1996,$73858.00,$104624.74,99,99
7590,"Lewis,Anthony L",MAINTENANCE MECHANIC,A91014,M-R Convention Center (014),11/06/1997,$45548.00,$50743.34,99,99
10734,"Rose,Nigel C",POLICE OFFICER,A99003,Police Department (003),09/03/1996,$74517.00,$107114.15,99,99
11371,"Sieracki III,John V",POLICE SERGEANT,A99422,Police Department (422),09/14/1992,$89479.00,$113340.28,99,99
11542,"Smith,Arnold K",VEHICLE PROCESSOR,A84402,TRANS-Towing (402),11/19/1987,$35204.00,$39180.07,99,99
...,...,...,...,...,...,...,...,...,...
13784,"Wood,Michael P",Firefighter/Paramedic Suppress,A64201,Fire Department (201),01/18/2005,$68460.00,$69159.68,35,37
2732,"Copper,James A",MOTOR VEHICLE DRIVER I,A50606,DPW-Water & Waste Water (606),03/15/2004,$32947.00,$57311.03,35,36
12886,"Wainaina,Evan",ENVIRONMENTAL SANITARIAN II,A65048,HLTH-Health Department (048),05/18/2006,$56363.00,$56648.63,35,36
13542,"Williams,Michael D",BUILDING REPAIRER,A85001,General Services (001),11/09/2006,$34684.00,$41796.43,35,36
7583,"Levy Jr,Victor M",DEPUTY SHERIFF,A38001,Sheriff's Office (001),07/03/2003,$49203.00,$50327.97,35,35

In [9]:
df_salary.to_csv("new_Salary.csv")